body {
  margin: 0;
}


/* Style the video: 100% width and height to cover the entire window */
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
    opacity: 0.4;
}

p,h4,h3{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: white ;
}

p{
    size: 3;
}

