	<h3>Qualité</h3>
	<p>Nous accordons une attention toute particulière à la qualité de nos produits et à leur préparation, afin qu'ils respectent les critères du "fait maison".</p>
	<h3>Equipe</h3>
	<p>Notre équipe dynamique et souriante vous accueille au coeur d'un cadre convivial et chaleureux pour vous faire découvrir des saveurs d'exception !</p>
	<h3>Écoute</h3>
	<p>Avec rigueur et disponibilité, nous vous apportons le service adapté à vos envies.
	<div>
		<h4>Notre équipe vous acceuil dnas les meilleurs conditions sanitaires !</h4>
		<p>Composition de l'équipe: <br>
		   Gaston : Patron des lieux <br>
		   Josiane : Femme et serveuse de Gaston <br>
		   Michel : Cuisinier ninja renommé <br>
		   Jacque : Second de Michel (jeune et dynamique) <br>
		   Marie-France : Plongeuse professionelle 
		</p>
		<img src="../src/image_equipe.jpg" height=300 px width=600 px/>
	</div>